Source: ldapsp
Section: admin
Priority: optional
Maintainer: Guido Günther <agx@sigxcpu.org>
Build-Depends: debhelper-compat (= 12),
 erlang,
# since we use ./rebar to fetch deps
 ca-certificates,
 git,
Standards-Version: 4.5.1

Package: ldapsp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 adduser
Description: LDAP Realm smartproxy for Foreman
 This smartproxy can be used to create/remove ldap 
 entries on host creation/removal.
