Source: ldapsp
Section: admin
Priority: optional
Maintainer: Guido Günther <agx@sigxcpu.org>
Build-Depends: debhelper (>=9),
 dh-systemd,
 erlang,
Standards-Version: 3.9.8

Package: ldapsp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: LDAP Realm smartproxy for Foreman
 This smartproxy can be used to create/remove ldap 
 entries on host creation/removal.
